.color-header {
    background-color: #f6e80c;
}

.font-xilosa {
    font-family: "fonte";
}

.button-theme {
    border-radius: 8%;
    color: #5a220c;
    border-color: #5a220c
}

.button-theme:hover {
    border-radius: 8%;
    color: #fff;
    background-color: #5a220c;
    border-color: #5a220c
}

.button-theme:disabled {
    border-radius: 8%;
    color: #5a220c;
    background-color: #5f3b2c
}

.sujestoes_receitas {
    border: 2px;
    border-color: darkgrey;
    border-radius: 2%;
}

.menu-height {
    height: 50;
}

.border-style-2px {
    margin: auto;
    border: 2px;
    border-color: grey;
    border-radius: 2px;
}

@font-face {
    font-family: 'fonte';
    src: 'fonts/xilosa.ttf'/*Para navegadores Internet Explorer*/
    ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fonte';
    src: 'fonts/xilosa.ttf'/*Para os demais navegadores*/
    ;
    font-weight: normal;
    font-style: normal;
}